# Dependencias de Composer
/vendor/

# Archivos temporales, caché y logs de Symfony
/var/

# Archivos de entorno local (¡nunca subas contraseñas reales a GitHub!)
.env.local
.env.local.php
.env.*.local

# Archivos de configuración de tu editor (Visual Studio Code, PhpStorm, etc.)
/.vscode/
/.idea/

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db